SERIAL_PATH=<device path of the usb dongle: ie, /dev/ttyACM0>
MICROPHONE_1_ID=<device id of the first microphone: ie, 'plughw:0,0'>
MICROPHONE_2_ID=<device id of the second microphone: ie, 'plughw:0,1'>
ONSET_THRESHOLD=<rms delta for syllable detection. Tune to the mic.>
FLUX_SCALE=<how much flux (rms increase) maps to max strength. Tune to the mic.>